.generalProducts__container {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.generalProducts__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.generalProducts__title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #151515;
  padding: 0;
  margin-bottom: 10px;
}

.generalProducts__description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #626262;
}

.generalProducts__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.generalProducts__right-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #588ceb;
  transition: color 0.3s ease;
}

.generalProducts__right-icon {
  font-size: 1rem;
  color: #588ceb;
  transition: transform 0.3s ease, color 0.3s ease;
}

.generalProducts__right:hover .generalProducts__right-text,
.generalProducts__right:hover .generalProducts__right-icon {
  color: #3a7dd0;
}

.generalProducts__right:hover .generalProducts__right-icon {
  transform: translateX(5px);
}

.generalProducts__container-card {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.generalProducts__card-image {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

.category__card-img {
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(243, 243, 243, 0.2);
  background-color: rgba(177, 88, 88, 0.4);
  display: block;
  transition: transform 0.3s ease;
}
