.productsOffer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  padding: 1rem;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 18px;
  overflow: hidden;
  transition: transform 0.2s;
  background: #fffbdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card-top {
  background-color: #fffbdb;
}

.product-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-bottom {
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  background-color: #fff0fb;
}

.product-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: system-ui;
  padding-bottom: 0.6rem;
}

.product-card-bottom-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem;
}

.button-buy-now {
  background-color: #ffffff;
  color: #cb4621;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  border: solid 1px #e32817;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: system-ui;
  transition: background-color 0.4s;
}
/* 193a3f */
.button-buy-now:hover {
  background-color: #e41e31;
  color: #ffffff;
}
.button-buy-now:active {
  background-color: #e41e31;
}
.button-buy-now:focus {
  outline: none;
}

.product-span-price {
  color: #e41e31;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-family: system-ui;
}

.offer-price {
  color: #e41e31;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: system-ui;
}
