.productsOffer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.product-card {
  border: 1px solid #E0E0E0; /* Gris Neutro para bordes */
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card-top {
  background-color: #fff;
}

.product-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card-bottom {
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  background-color: #ffffff; /* Fondo Blanco Limpio */
}

.product-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: system-ui;
  padding-bottom: 0.6rem;
}

.product-card-bottom-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button-buy-now {
  background-color: #F97316; /* Naranja Vital */
  color: #ffffff;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  border: solid 1px #F97316; /* Naranja Vital */
  font-size: 0.8rem;
  font-weight: bold;
  font-family: system-ui;
  transition: background-color 0.4s;
}

.button-buy-now:hover {
  background-color: #F97316; /* Naranja Vital */
  color: #ffffff;
  border: solid 2px #F97316;
}

.button-buy-now:focus {
  outline: none;
}

.product-span-price {
  color: #F97316; /* Naranja Vital */
  font-size: 1rem;
  font-family: system-ui;
  margin-left: 2px;
}

.offer-price {
  color: #F97316; /* Naranja Vital */
  font-weight: bold;
  font-size: 1.3rem;
  font-family: system-ui;
}

.discount-badge {
  position: sticky;
  top: 8px; /* Espacio respecto arriba del contenedor */
  left: 8px; /* Espacio respecto la izquierda */
  background-color: #F97316; /* Naranja Vital */
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  z-index: 10;
  width: fit-content;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
