.homepage__container {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* max-width: 1250px; */
  margin: 0 auto;
  padding: 1rem;
}

.banner-container {
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.categoryProducts__hcontainer {
  width: 100%;
  /* max-width: 1250px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.GeneralProducts-container {
  display: grid;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.Products-offer-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  margin-top: 4rem;
}

.Products-offer-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #151515;
  text-align: center;
}

.callToAction__hcontainer {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
