.homepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

.banner-container {
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: ;
}

.category-container {
  display: grid;
  width: 100%;
  justify-content: center;
}

.GeneralProducts-container {
  display: grid;
  width: 100%;
}

.Products-offer-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  margin-top: 4rem;
}

.Products-offer-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #151515;
  text-align: center;
}
