.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffff2;
}

.banner-container {
  width: 80%;
}

.Product-container {
  width: 1240px;
}
