.header_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-calltoaction {
  background-color: #198754;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.header__main-container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  /* justify-content: start; */
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: none;
  transform: translateY(0); /* inicio en su sitio */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header__container-logo {
  /* width: 20%; */
  /* display: flex; */
}

.header__container-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.header__container-icons__title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  gap: 0.3rem;
}
/* .header-main-wrapper {
  height: 5rem;
}

.header-main-wrapper.stuck {
  height: 5rem;
} */

/* .header-main-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transform: translateY(0);
} */
