.header__cartIcon-container {
}

.header__cartIcon-icon {
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-size: 1.6rem;
  color: #666768;
}

.header__cartIcon-icon:hover {
  color: #1e8a3a;
}
