.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #1e1f1e;
}

.footer__container {
  display: grid;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
  row-gap: 30px;
}

/* FOOTER SECTION - CALL TO ACTION */

.footer-calltoaction {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.footer-calltoaction-card-shipping,
.footer-calltoaction-card-quality,
.footer-calltoaction-card-payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
  color: #fff;
  background-color: #2c2d2c;
  padding: 20px;
  border-radius: 10px;
}

.footer-calltoaction-titles-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #e1e1e1;
}

.footer-calltoaction-titles-container p {
  font-size: 0.9rem;
  color: #bebebe;
}

.footer-calltoaction-icon {
  width: 55px;
  height: 55px;
  margin-right: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e7d32;
  background-color: #2e7d320d;
  border-radius: 10px;
}

.footer-calltoaction-icon {
  font-size: 2rem;
}

/* FOOTER SECTION - LINKS */

.footer-descriptions {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}
