.nav__menu-list {
  display: flex;
  flex-direction: row;
  /* column-gap: 0.6rem; */
}

.nav__menu-elements {
}

.nav__menu-item {
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: 400;
  padding: 0.5rem 1rem;
  color: #555655;
}

.nav__menu-item:hover {
  border-radius: 10px;
  cursor: pointer;
}
