.nav__menu-list {
  display: flex;
  list-style: none;
  position: relative;
  
}

.nav__menu-item {
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 400;
  color: #666768;
  text-decoration: none;
  padding: 0.8rem 0rem;
  position: relative;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  column-gap: 0.5rem;
}

.nav__menu-item-text {
  font-size: 1rem;
  color: #5f5f5f;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: system-ui;
}

.nav__menu-item-drowmenu {
  font-size: 1.5rem;
  color: #525252;
}

.nav__menu-item-arrow-icon {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: -4px;
}

.nav__menu-item:hover {
  color: #1e8a3a;
}

/* Activo cuando el dropdown está abierto */
.nav__menu-item.active {
  color: #1e8a3a;
}

/* Esto hace que íconos y texto hereden el color */
.nav__menu-item svg,
.nav__menu-item h2 {
  color: inherit;
  transition: color 0.2s ease-in-out;
}

/* Efecto de subrayado dinámico */
.nav__menu-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e8a3a; /* Verde Fresco (Primario) */
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.nav__menu-item:hover::after {
  transform: scaleX(1);
}

/* Estilo para el NavLink activo */
.nav__menu-item.active {
  color: #1e8a3a; /* Verde Fresco (Primario) */
  font-weight: 700;
}

.nav__menu-item.active::after {
  transform: scaleX(1);
}

.nav__menu-category-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.nav__menu-elements:hover .nav__menu-category-dropdown,
.nav__menu-category-dropdown.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
