.search-bar__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar__input {
  width: 80%;
  padding: 0.8rem 1rem;
  border: none;
  background-color: rgb(243, 243, 243);
  color: #575757;
  border-radius: 10px;
  border: 1px solid #dedddd;
  font-family: sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar__input:focus {
  outline: none;
  border: solid 1px #5da990;
  padding: 0.8rem 5rem 0.8rem 1rem;
}

.search-bar__icon {
  font-size: 1.8rem;
  transition: color 0.3s ease;
  color: #afafaf;
  margin-left: -40px;
  z-index: 10;
  cursor: pointer;
}

/* .search-bar__input:focus::placeholder {
  font-size: 1rem;
  margin-right: 50px;
} */
