.banner {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  height: 60vh;
  width: 100%;
  border-radius: 20px;
  background-image: url('https://i.ibb.co/hx9YFmbD/pexels-shvetsa-3962285.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__title {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}
